{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div>
        <a href="{% url 'my_profile' %}" id="id_nav_profile">
            {{ name }}
        </a>
    </div>
    <div id="option">
        <div>
        <a href="{% url 'global_stream' %}" id="id_nav_global_stream">
            Global
        </a>
        </div>
        <div>
            <a href="{% url 'follower_stream' %}" id="id_nav_follower_stream">
                Follower
            </a>
        </div>
        <div>
            <a href="{% url 'logout' %}" id="id_nav_logout">
                Logout
            </a>
        </div>
    </div>
{% endblock %}

{% block page %}
Follower Stream
{% endblock %}

{% block content%}
    <div id="id_post_div_1">
        Post by <a id="id_post_profile_n" href="{% url 'personal_profile'%}">Jeff Eppinger</a> -<span id="id_post_text_1">I waited in line for 15 minutes to get my lunch</span> – <span id="id_post_date_time_1">8/25/2021 12:10 PM</span>
        <div id="id_comment_div_1">Comment by <a id="id_comment_profile_1" href="{% url 'personal_profile'%}">Farnam Jahanian</a> -<span id=" id_comment_text_k">Just come to my place. I’ll feed you.</span> - <span id=" id_comment_date_time_1">8/25/2021 1:13 PM</span></div>
        <form action="{% url 'follower_stream' %}" method="POST">
            <lable for="id_comment_input_text_1">New Post:</lable>
            <input type="text" name="new_comment" id="id_comment_input_text_1">
            {% csrf_token %}
            <button id="id_comment_button_n" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
