{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div>
        <a href="{% url 'my_profile' %}" id="id_nav_profile">
            {{ name }}
        </a>
    </div>
    <div id="option">
        <div>
        <a href="{% url 'global_stream' %}" id="id_nav_global_stream">
            Global
        </a>
        </div>
        <div>
            <a href="{% url 'follower_stream' %}" id="id_nav_follower_stream">
                Follower
            </a>
        </div>
        <div id="id_nav_logout">
            <a href="{% url 'logout' %}">
                Logout
            </a>
        </div>
    </div>
{% endblock %}

{% block page %}
Profile page for {{ username }}
{% endblock %}

{% block content%}
    {% load static%}
    <img id="id_user_picture" src="{% static 'profile.jpg' %}">
    <textarea id="id_bio_input_text">{{ bio }}</textarea><br>
    <form action="{% url 'my_profile' %}" method="POST">
        <button type="submit" id="id_unfollow">Unfollow</button>
    {% csrf_token %}
    </form>
{% endblock %}
