{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div>
        <a id="id_login_link" href="{% url 'login' %}">
            login
        </a>
    </div>
{% endblock %}

{% block page %}
Register
{% endblock %}

{% block content %}
    <p>Register for the social network:</p>

    <form method="post" action="{% url 'register' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="errorlist">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button type="submit" id="id_register_button">Register</button>
    </form>

{#    {% for error in form.non_field_errors %}#}
{#        <p class="error">#}
{#            {{ error }}#}
{#        </p>#}
{#    {% endfor %}#}

{% endblock %}
